<!-- Corresponds to users_controller.erb file -->

<div class="container">
   <div class="row">
      
      <div class="col-md-3 text-center">
         <%= image_tag @user.profile.avatar.url, class: 'avatar-show-img' %>
      </div>
      
      <div class="col-md-6">
         <!-- user can have .profile because a user has a profile in the database -->
         <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
         <!-- function comes from users_helper.rb -->
         <h3><span class="job-title-icon"><%= job_title_icon %></span><%= @user.profile.job_title %></h3>
         
         <div class="well profile-block profile-description">
            <h3>Description</h3>
            <%= @user.profile.description %>
         </div>
         
         <!-- If the user that is currently signed in has pro plan account, they can see the
         phone number and email of the user's profile they are trying to view -->
         <% if true # current_user.plan_id == 2 %>
            <div class="well profile-block profile-contact-info">
               <h3>Contact Information</h3>
               <%= @user.profile.phone_number %><br/>
               <%= @user.profile.contact_email %><br/>
            </div>
         <% end %>
      </div>
   </div>
</div>